* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan";
    overflow-x: hidden;
}

:root {
    --orange: #ff5722;
    --gray: #e7e6e6;
}

header {
    height: 100vh;
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), url(../img/background.jpg);
    background-size: cover;
    /* opacity: 0.6; */
    z-index: -1;
}




.container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_bar_container {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--orange);
}

.nav_bar {
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_bar_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.nav_bar_logo img {
    width: 140px;
    transition: all 0.5s;
}
.nav_bar_logo img:hover {
    transform: scale(1.025);
}
.nav_bar_menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 900px;
}

.nav_bar_menu ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_bar_menu ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.nav_bar_menu ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    position: relative;
    font-family: "League Spartan";
    font-weight: 300;
}
.nav_bar_menu ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}
.nav_bar_menu ul li:last-child a {
    border: 1px solid #000;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 15px;
    font-family: "League Spartan";
    color: #000;
    transition: all 0.5s ease;
    background: transparent;
}
.nav_bar_menu ul li:last-child a:hover {
    border-color: var(--orange);
    color: var(--orange);
}
.nav_bar_menu ul li:not(:last-child) a::after {
    background-color: var(--orange);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav_bar_menu ul li:not(:last-child) a:hover::after{
    background-color: var(--orange);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: all 0.3s ease;
}


.main_title_container {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
.main_title #first_word {
    color: #000;
    letter-spacing: 15px;
    font-size: 6rem;
    margin-right: 2rem;
}

.main_title #rest_words {
    color: var(--orange);
    font-size: 4rem;
}

.main_title h1 {
    font-family: "League Spartan";
    text-transform: uppercase;
    margin: 0;
}

.main_title h2 {
    font-size: 3rem;
    color: #000;
    font-family: "League Spartan";
    margin: 0 0 0 40px;
    font-weight: 300;
}

@media (max-width: 950px){
    .nav_bar_ham_menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .ham_menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 2;
        border: 1px solid #000;
        padding: 0.9rem;
        border-radius: 15px;
        background: transparent;
        transition: all 0.5s ease;
    }

    .ham_menu:hover {
        background-color: var(--orange);
    }

    .ham_menu span {
        display: block;
        height: 2px;
        width: 28px;
        background-color: #000;
        transition: all 0.5s ease;
    }
    
    .ham_menu.active span:first-child {
        background-color: #000 !important;
        transform: translateY(7px) rotate(45deg);
    }

    .ham_menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham_menu.active span:nth-child(3) {
        background-color: #000 !important;
        transform: translateY(-7px) rotate(-45deg);
    }

    .nav_bar_menu {
        position: absolute;
        width: 300px;
        height: 100vh;
        top: 0;
        right: -300px;
        background-color: var(--orange);
        z-index: 1;
        transition: all 0.5s ease;
    }

    .nav_bar_menu.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: var(--orange);
        z-index: 1;
    }
    .nav_bar_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        gap: 20px;
    }

    .nav_bar_menu ul li {
        height: auto;
        padding: 1rem 0;
    }

    .nav_bar_menu ul li:last-child {
        margin: 0;
    }

    .nav_bar_menu ul li:last-child a:hover {
    border-color: #000;
    color: #000;
    }

    .nav_bar_menu ul li:not(:last-child) a::after {
    background-color: #000;
    
    }

    .nav_bar_menu ul li:not(:last-child) a:hover::after{
        background-color: #000;
    }

    .main_title #first_word {
        font-size: 5rem;
    }

    .main_title #rest_words {
        font-size: 3rem;
    }

    .main_title h2 {
        font-size: 2rem;
    }

    .nav_bar_logo img {
        width: 120px;
    }

    .nav_bar_container {
        height: 126px;
    }
}

@media (max-width: 770px) {
    .main_title #first_word {
        font-size: 4rem;
    }

    .main_title #rest_words {
        font-size: 2rem;
    }

    .main_title h2 {
        font-size: 1.5rem;
    }

    .nav_bar_logo img {
        width: 100px;
    }

    .nav_bar_container {
        height: 111px;
    }
}


@media (max-width: 610px) {
    .main_title #first_word {
        font-size: 3rem;
    }

    .main_title #rest_words {
        font-size: 1.5rem;
    }

    .main_title h2 {
        font-size: 1.5rem;
    }
}




.strip_of_paper_left {

}

.strip_of_paper_right {

}

.liner_corner_main_title_straight {
    height: 5px;
    background-color: var(--orange);
    width: 230px;
    border: none;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -4%;
}

.liner_corner_main_title_down {
    height: 5px;
    background-color: var(--orange);
    width: 150px;
    border: none;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    top: 153px;
    left: -124.5px;
    z-index: 110;
}

.line_corner_right_up {

}

.line_corner_right_bottom {

}

@media (max-width: 770px) {
    .liner_corner_main_title_straight {
        top: 60px;
    }
}


/* MAIN - FIRST SECTION */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.celebration {
    max-width: 1600px;
    width: 100%;
    background: linear-gradient(to top, var(--gray), rgba(255, 255, 255, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.celebration img {
    width: 80%;
    transform: translateY(-130px);
    z-index: 12;
}

.celebratin_title_text {
    display: flex;
    justify-content: center;
}

.celebration_title {
    max-width: 1300px;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: end;
    position: absolute;
    top: 50px;
    z-index: 13;
    padding: 0 1rem;

}

.celebration_title h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
}

.celebration_title p {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

.liner_straight_celebration_down {
    height: 5px;
    background-color: var(--orange);
    width: 200px;
    border: none;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    top: 200px;
    left: -87px;
    z-index: 10;
}

.celebration_text_container_flex {
    display: flex;
    justify-content: center;
}
.celebratin_text_container {
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-100px);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.celebratin_text_container p {
    margin: 0;
}

.liner_corner_celebration_down {
    height: 5px;
    background-color: var(--orange);
    width: 100px;
    border: none;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    bottom: 0px;
    right: -20px;
    z-index: 10;
}

.liner_corner_celebration_straight {
    height: 5px;
    background-color: var(--orange);
    width: 200px;
    border: none;
    margin: 0;
    position: absolute;
    bottom: 48px;
    right: 28px;
    z-index: 10;   
}


.gallery {
    background-color: var(--gray);
    height: 100px;
    width: 100vw;
}
