* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan";
    overflow-x: hidden;
}

:root {
    --orange: #ff5722;
    --gray: #e7e6e6;
}

header {
    height: 100vh;
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), url(../img/background.jpg);
    background-size: cover;
    /* opacity: 0.6; */
    z-index: -1;
}




.container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_bar_container {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--orange);
}

.nav_bar {
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_bar_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.nav_bar_logo img {
    width: 140px;
    transition: all 0.5s;
}
.nav_bar_logo img:hover {
    transform: scale(1.025);
}
.nav_bar_menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 900px;
}

.nav_bar_menu ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_bar_menu ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.nav_bar_menu ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    position: relative;
    font-family: "League Spartan";
    font-weight: 300;
}
.nav_bar_menu ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}
.nav_bar_menu ul li:last-child a {
    border: 1px solid #000;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 15px;
    font-family: "League Spartan";
    color: #000;
    transition: all 0.5s ease;
    background: transparent;
}
.nav_bar_menu ul li:last-child a:hover {
    border-color: var(--orange);
    color: var(--orange);
}
.nav_bar_menu ul li:not(:last-child) a::after {
    background-color: var(--orange);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav_bar_menu ul li:not(:last-child) a:hover::after{
    background-color: var(--orange);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: all 0.3s ease;
}


.main_title_container {
    height: calc((100vh - 140px) * 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
.main_title #first_word {
    color: #000;
    letter-spacing: 15px;
    font-size: 6rem;
    margin-right: 2rem;
}

.main_title #rest_words {
    color: var(--orange);
    font-size: 4rem;
}

.main_title h1 {
    font-family: "League Spartan";
    text-transform: uppercase;
    margin: 0;
}

.main_title h2 {
    font-size: 3rem;
    color: #000;
    font-family: "League Spartan";
    margin: 0 0 0 40px;
    font-weight: 300;
}

@media (max-width: 950px){
    .nav_bar_ham_menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .ham_menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 2;
        border: 1px solid #000;
        padding: 0.9rem;
        border-radius: 15px;
        background: transparent;
        transition: all 0.5s ease;
    }

    .ham_menu:hover {
        background-color: var(--orange);
    }

    .ham_menu span {
        display: block;
        height: 2px;
        width: 28px;
        background-color: #000;
        transition: all 0.5s ease;
    }
    
    .ham_menu.active span:first-child {
        background-color: #000 !important;
        transform: translateY(7px) rotate(45deg);
    }

    .ham_menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham_menu.active span:nth-child(3) {
        background-color: #000 !important;
        transform: translateY(-7px) rotate(-45deg);
    }

    .nav_bar_menu {
        position: absolute;
        width: 300px;
        height: 100vh;
        top: 0;
        right: -300px;
        background-color: var(--orange);
        z-index: 1;
        transition: all 0.5s ease;
    }

    .nav_bar_menu.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: var(--orange);
        z-index: 1;
    }
    .nav_bar_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        gap: 20px;
    }

    .nav_bar_menu ul li {
        height: auto;
        padding: 1rem 0;
    }

    .nav_bar_menu ul li:last-child {
        margin: 0;
    }

    .nav_bar_menu ul li:last-child a:hover {
    border-color: #000;
    color: #000;
    }

    .nav_bar_menu ul li:not(:last-child) a::after {
    background-color: #000;
    
    }

    .nav_bar_menu ul li:not(:last-child) a:hover::after{
        background-color: #000;
    }

    .main_title #first_word {
        font-size: 5rem;
    }

    .main_title #rest_words {
        font-size: 3rem;
    }

    .main_title h2 {
        font-size: 2rem;
    }

    .nav_bar_logo img {
        width: 120px;
    }

    .nav_bar_container {
        height: 126px;
    }
}

@media (max-width: 770px) {
    .main_title #first_word {
        font-size: 4rem;
    }

    .main_title #rest_words {
        font-size: 2rem;
    }

    .main_title h2 {
        font-size: 1.5rem;
    }

    .nav_bar_logo img {
        width: 100px;
    }

    .nav_bar_container {
        height: 111px;
    }
}


@media (max-width: 610px) {
    .main_title #first_word {
        font-size: 3rem;
    }

    .main_title #rest_words {
        font-size: 1.5rem;
    }

    .main_title h2 {
        font-size: 1.5rem;
    }
}


.liner_corner_main_title_straight {
    height: 5px;
    background-color: var(--orange);
    width: 230px;
    border: none;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -4%;
}

.liner_corner_main_title_down {
    height: 5px;
    background-color: var(--orange);
    width: 150px;
    border: none;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    top: 153px;
    left: -124.5px;
    z-index: 1;
}


@media (max-width: 770px) {
    .liner_corner_main_title_straight {
        top: 60px;
    }
}


/* MAIN */
main {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9), var(--gray), rgba(255, 255, 255, 0.9));
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.one_section {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap: 90px;
}

.one_section_title {
    position: relative;
}

.one_section_paper_bg_left {
    position: absolute;
    top: -200%;
    left: -10%;
    z-index: 50;
    width: 80%;
}

.one_section_paper_bg_right {
    position: absolute;
    top: -200%;
    left: 30%;
    z-index: 50;
    width: 80%;
}

.one_section_title_text_left {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: end;
    z-index: 100;
    position: relative;
    margin-top: 30px;
    padding: 0 1rem;
    justify-content: flex-start;
}

.one_section_title_text_right {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: end;
    z-index: 100;
    position: relative;
    margin-top: 30px;
    padding: 0 1rem;
    justify-content: flex-end;
}

.one_section_title_text_right h2,
.one_section_title_text_left h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
}

.one_section_title_text_right p,
.one_section_title_text_left p {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

.celebration {
    height: 800px;
}

.celebratin_text_container {
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    padding: 0 1rem;
}

.celebratin_text_container p {
    margin: 0;
}

@media (max-width: 950px) {
    .celebration_title h2{
        font-size: 2.5rem;
    }

    .celebration_title p{
        font-size: 2rem;
    }
}

@media (max-width: 1230px) {
    .celebration_title img {
        top: -175%;
    }
}

@media (max-width: 1000px) {
    .celebration_title img {
            top: -130%;
    }
    .celebration{
        height: 600px;
    }
}

@media (max-width: 750px) {
    .celebration_title img {
            top: -100%;
    }
    .celebration{
        height: 700px;
    }
    

}

@media (max-width: 610px) {
    .celebration_title h2{
        font-size: 2rem;
    }

    .celebration_title p{
        font-size: 1.5rem;
    }
    .celebration_title img {
            top: -60%;
    }

    .celebration_title img {
        width: 90%;
    }

    .celebration {
        height: 800px;
    }
}

.gallery {
    height: 900px;
}

.gallery_photoline {
    overflow: hidden;
    width: 100%;
    padding: 0 1rem;
}

.gallery_photos {
    display: flex;
    gap: 10px;
    width: fit-content;
    
    align-items: center;
    transform: translateX(0);
    transition: all 0.5s;
}

.rolling_photos_right{
    transform: translateX(-140px);
    transition: all 0.5s;
}

.fa-solid.fa-arrow-right {
    position: absolute;
    top: 380px;
    right: -120px;
    cursor: pointer;
}
.fa-solid.fa-arrow-left {
    position: absolute;
    top: 380px;
    left: -120px;
    cursor: pointer;
}

.gallery_photos .image1,
.gallery_photos .image2,
.gallery_photos .image3,
.gallery_photos .image4,
.gallery_photos .image5,
.gallery_photos .image6,
.gallery_photos .image7,
.gallery_photos .image8,
.gallery_photos .image9,
.gallery_photos .image10 {
    overflow: hidden;
    
}

.gallery_photos img {
    width: 450px;
    height: auto;
    opacity: 0.5;
    transform: scale(1.25);
    transition: all 0.5s;
}

.gallery_photos img:hover {
    opacity: 1;
    transform: scale(1);
    
}

.contact {
    height: 600px;
}

.contact_types {
    display: flex;
    width: 100%;
}

.contact_one_type {
    width: 25%;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.contact_one_type .icon {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
}

.contact_one_type .icon a {
    color: #000;
}

.contact_one_type .icon i:hover {
    color: var(--orange);
}

.contact_one_type .text {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.contact_one_type .text p {
    margin: 0;
}

footer {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), url(../img/background.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.footer_link_section {
    width: 100%;
    display: flex;
    height: 90%;
}

.footer_links {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.footer_links ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    font-family: "League Spartan";
    font-weight: 300;
}

.footer_newsletter {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer_newsletter h3 {
    margin: 0;
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    font-family: "League Spartan";
    font-weight: 300;
}

.footer_newsletter form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

.footer_newsletter .inputBox {
    position: relative;
    width: 100%;
}

.footer_newsletter form .inputBox input {
    background: transparent;
    outline: none;
    border: 1px solid #000;
    font-family: "League Spartan";
    font-weight: 300;
    padding: 1rem;
    border-radius: 15px;
    font-size: 1.3rem;
    width: 100%;
    box-sizing: border-box;
}
.footer_newsletter form .inputBox input:valid,
.footer_newsletter form .inputBox input:focus {
    border-color: var(--orange);
}

.footer_newsletter form .inputBox p {
    position: absolute;
    margin: 0;
    top: 18px;
    left: 16px;
    font-size: 1.3rem;
    color: #000;
    font-family: "League Spartan";
    font-weight: 300;
    transform: translate(0, 0);
    transition: all 0.5s;
}

.footer_newsletter form .inputBox input:valid ~ p,
.footer_newsletter form .inputBox input:focus ~ p {
    color: #000;
    background-color: var(--orange);
    transform: translate(10px, -28px);
    transition: all 0.5s;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
}

.footer_newsletter form input:nth-child(2) {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px solid #000;
    font-family: "League Spartan";
    font-weight: 300;
    background: transparent;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
}

.footer_newsletter form input:nth-child(2):hover {
    border-color: var(--orange);
    color: var(--orange);
}

.footer_contact {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contact .icons {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_contact .icons .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer_contact .icons .row a{
    color: #000;
}

.footer_contact .icons i{
    font-size: 2rem;
}

.footer_copyright_section {
    display: flex;
    justify-content: center;
    height: 10%;
}

.footer_copyright_section p {
    margin: 0;
}

#arrowScrollToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #000;
}

/*LINES*/
.one_straight_line {
    height: 5px;
    background-color: var(--orange);
    /* width: 150px; */
    border: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    /* top: 0;
    left: 0; */
}

.one_down_up_line {
    height: 5px;
    background-color: var(--orange);
    /* width: 150px; */
    border: none;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    z-index: 1;
    /* top: 0;
    left: 0; */
}

/*LINES - celebration*/
.left_celebration_line {
    width: 150px;
    top: 153px;
    left: -124.5px;
}

/*LINES - gallery*/
.right_gallery_line_straight {
    width: 200px;
    top: -300px;
    right: -40px;
}

.right_gallery_line_higher {
    width: 100px;
    top: -252px;
    right: -88px;
}

.right_gallery_line {
    width: 150px;
    top: 153px;
    right: -110px;
}

/*LINES - contact*/
.left_contact_line_straight {
    width: 230px;
    top: -288px;
    left: -77px;
}

.left_contact_line_higher {
    width: 100px;
    top: -240px;
    left: -124.5px;
}

.left_contact_line {
    width: 150px;
    top: 153px;
    left: -124.5px;
}

.right_contact_line {
    width: 150px;
    top: 430px;
    right: -110px;
}

.right_contact_line_straight {
    width: 150px;
    top: 503px;
    right: -36px;
}